/* body{
    margin: 0px;
    padding: 0px;
}

#body1{
    background-color: red;
    width: 1550px;
    height: 150px;
}

#body2{
    background-color: gray;
    width: 1550px;
    height: 800px;
} */